:root {
  --bg:         rgb(230, 230, 230);
  --fg:         rgb(25,  25,  25);
  --bg_code:    rgb(64,  64,  64);
  --fg_code:    rgb(225, 225, 225);
  --bg_quote:   rgb(215, 215, 215);
  --fg_qoute:   rgb(25,  25,  25);
  --bg_table:   rgb(215, 215, 215);
  --bg_table_th:rgb(64,  64,  64);
  --hl_table:   rgb(200, 200, 200);
}

body {
  max-width: 960px;
  margin: auto;
  padding: 20px;
  
  font-size: calc(12px + 0.390625vw);
  font-family: "DejaVu Sans Mono", monospace;
  line-height: 1.5;
  
  background-color: var(--bg);
  color: var(--fg);
}

header, header h1, nav {
  text-align: center;
  margin: 3px;
}

nav li {
  display: inline;
  padding-right: 20px;
}

nav ul {
  margin: 2px;
}

main {
  min-height: 100vh;
}

blockquote {
  background-color: var(--bg_quote);
  color: var(--fg_quote);
  margin: 1em;
  padding: 0px 5px;
}

code, pre {
  font-family: 'Courier New', monospace;
  background-color: var(--bg_code);
  color: var(--fg_code);
}

pre {
  margin: 1em;
  white-space: pre-wrap;
  padding: 5px;
}

code {
  padding: 0px 5px;
}

pre > code {
  word-break: normal;
  padding: 0px;
}

footer {
  opacity: 0.6;
  font-style: italic;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

summary:hover {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table th, table td {
  padding: 5px;
  border: 1px solid var(--bg_table_th);
}

table th {
  color: var(--bg);
  background-color: var(--bg_table_th);
}

table td {
}

table tr:nth-child(even){
  background-color: var(--bg_table);
}

table tr:hover {
  background-color: var(--hl_table);
}

.footnotes li {
  position: relative;
  word-break: break-word;  /* Force breaks in the back-reference list. */
  opacity: 0.6;
}

.footnotes li:target {
  opacity: 1;
}

.footnotes li:target::before {
  position: absolute;
  top: -5px;
  right: -8px;
  bottom: -8px;
  left: -45px;
  pointer-events: none;
  content: "";
  border: 2px solid var(--fg);
  border-radius: 5px;
}

/* Keep the back arrow and ID number together across line breaks. */
a.reversefootnote {
  white-space: nowrap;
}

/* https://stackoverflow.com/a/19006568/ */
ul.star {
  list-style: none outside none;
}

.star li:before {
  content: '܍';
  margin-left: -20px;
  direction: ltr;
  unicode-bidi: bidi-override;
  margin-right: 15px;

}





